*{
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: #eef9bf;
    position: relative;
}

h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    color: #75B79E;
    text-align: center;
    margin-top: 40px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 47px 10% 0;        
}